.navbarcolors {
    background-color: #ff2b07;
}


.cardshades {
    box-shadow: 5px 5px 5px black;
}

img {
    width: 100%;
    height: auto;
}


.webawards {
    width: 100%;
    align-content: center;
    align-items: center;
    padding: 10px;
}

.card:hover {
    transition: all .2s ease-in-out;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.buyimage {
    align-content: center;
    width: 100%;
    height: auto;
}

.buyimage2 {
    display: none;
}

.subtexts {
    color: white;
    text-align: center;
    text-shadow: 3px 3px 5px black;
}

.logoimg {
    float: left;
    width: 12.4%;
}

.smallonmobile {
    width: 20%;
}



@media only screen and (min-width: 992px) {
    .bigboibutton {
        display: none;
    }

    .halfpercent {
        width: 100%
    }

    .webawards {
        width: 50%;
        margin-left: 30%
    }

}

@media only screen and (max-width: 992px) {

    .logoimg {
        display: none;
    }

    .smallonmobile {
        width: 10%
    }

    .buyimage {
        display: none;
    }

    .buyimage2 {
        display: block;
        width: 50%;
        height: 50%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }

}
