.navbarcolors {
    background-color: #ff2b07;
}

.Row {
    display: table;
    width: 100%;
    /*Optional*/
    table-layout: fixed;
    /*Optional*/
    border-spacing: 20px;
    /*Optional*/
}

.Column {
    display: table-cell;
}

img {
    width: 100%;
    height: auto;
}

.subtexts {
    color: white;
    text-align: center;
    font-size: 150%
}

.logoimg {
    float: left;
    width: 12.4%;
}

.smallonmobile {
    width: 20%;
}


@media only screen and (min-width: 992px) {
    .bigboibutton {
        display: none;
    }

}

@media only screen and (max-width: 992px) {
    
    .logoimg {
/*        width: 36%;
        text-align: center;
        float: none;*/
        display: none;
    }
    
    /*.Row {
        display: none;
    }
    */
    .smallonmobile {
        width: 10%
    }
}
