.navbarcolors {
    background-color: #ff2b07;
}

.notmtrow {
    display: table;
    width: 100%;
    /*Optional*/
    table-layout: fixed;
    /*Optional*/
    border-spacing: 20px;
    /*Optional*/
}

.cardshades {
    box-shadow: 5px 5px 5px black;
}

.notmtcolumn {
    display: table-cell;
}

img {
    width: 100%;
    height: auto;
}

.card:hover {
    transition: all .2s ease-in-out;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.subtexts {
    color: white;
    text-align: center;
    text-shadow: 3px 3px 5px black;
}

.logoimg {
    float: left;
    width: 12.4%;
}

.smallonmobile {
    width: 20%;
}


@media only screen and (min-width: 992px) {
    .bigboibutton {
        display: none;
    }
    
    .halfpercent {
        width: 100%
    }
    

}

@media only screen and (max-width: 992px) {
    
    .logoimg {
        display: none;
    }
    
    .smallonmobile {
        width: 10%
    }
    
}
